services=["iam.googleapis.com", "compute.googleapis.com"]
network="vpc-1"
subnetwork="projects/meijer-gcp-core-842352947916e/regions/us-east4/subnetworks/subnet-1"
roles=[]
zone="us-east4-a"
region="us-east4"